<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>after login</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        var domain = window.location.origin

        function kakaoLogout() {
            location.href=domain
        }
    </script>
</head>
<body>
    <div>
        <p>make page</p>
        <a><img th:src="${thumbnailUri}"></a>
        <p th:text="${name}"></p>
        <a href="javascript:kakaoLogout()">log out</a>
    </div>
</body>
</html>